$bg-dark: #1a2f3a;
$shadow: 
    0 2px 23px 0 rgba(0, 0, 0, 0.1),
    0 2px 49px 0 rgba(0, 0, 0, 0.06);

.menu-area {
    background-color: $bg-dark;
    box-shadow: $shadow;
}

.menu a {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: 300;
    padding: 15px;
}

.menu a:hover {
    background: linear-gradient(135deg, #07a7e3 0%, #32dac3 100%);
}
